[mode]
# dev, beta, prod[, docker]
mode = prod

[dev]
Debug = True
BackendBaseURL = http://localhost
WFPBInterfaceURL = http://localhost:3000
BasePort = 5000
Shim = False

[docker]
Debug = True
BackendBaseURL = http://glycosight-backend
WFPBInterfaceURL = http://ui:3000
BasePort = 5000

[beta]
Debug = True
BackendBaseURL = http://glycosight-backend
WFPBInterfaceURL = http://playbook-workflow-builder.cloud
BasePort = 5000

[prod]
Debug = False
BackendBaseURL = http://glycosight-backend
WFPBInterfaceURL = https://playbook-workflow-builder.cloud
BasePort = 5000

